.container {
    width: 300px;
    margin: 0 auto;
  }
  input[type="text"] {
    width: 100%;
    margin-bottom: 10px;
  }
  input[type="button"] {
    width: 48%;
    height: 40px;
    margin-bottom: 5px;
  }
